[data-theme="dark"] {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #fff;
}

:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

h1 {
  font-size: 45pt;
}

h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

small {
  color: var(--muted-color);
}

.hero {
  background: linear-gradient(-45deg, #000022, #4F6D7A, #A0D2DB);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  background-position: center;
  /* background-size: cover; */
}

/* body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
} */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
  font-size: 23pt;
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

.spacing {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  font-size: 20pt;
  color: var(--primary);
}

article {
  margin-left: 16%;
  margin-right: 16%;
  padding-left: 8%;
  padding-right: 8%;

}

.fa-solid {
  font-size: 8pt;
}

.fab a,
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none
}

footer {
  text-align: center;
}
