[data-theme="dark"] {
  --primary: #c46e6e;
  --primary-hover: #bb5353;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #fff;
}

:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

h1 {
  font-size: 45pt;
}

h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

small {
  color: var(--muted-color);
}

.hero {
	background: linear-gradient(-45deg, #01024E, #543864, #8B4367);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-position: center;  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
  font-size: 23pt;
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

.spacing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  white-space: nowrap;
}

.contact-info {
  font-size: 1.5em;
  color: var(--primary);
}

article {
  margin-left: 22%;
  margin-right: 22%;
  padding: 4% 5% 4% 5%;
}

.fa-solid {
  font-size: 1em;
  vertical-align: middle;
}

.fab a,
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none
}

footer {
  text-align: center;
  padding: unset;
}

.resume {
  text-align: center;
  padding-top: 5%;
}

footer.container {
  padding: unset;
}

header.container {
  padding-bottom: 1%;
}
